@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #EDEDED;
  --section-color: #FFFFFF;
  --green: #22C55E;
  --blue: #199BE3;
  --alert: #CE2626;
  --advisement: #FDC541;
  --text-color: #111111;
}

.dark {
  --bg-color: #1E1E1E;
  --section-color: #2A2A2A;
  --green: #1E8C4A;
  --blue: #1678B8;
  --alert: #B23B3B;
  --advisement: #E0B13F;
  --text-color: #F0F0F0;
}
* {
  margin: 0;
  padding: 0;
  
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Alata', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
}

